appdirs==1.4.4
beautifulsoup4==4.11.1; python_full_version >= "3.6.0"
bs4==0.0.1
certifi==2022.9.24; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
colorama==0.4.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.7.0")
colorlog==6.7.0; python_version >= "3.6"
domain-suffixes==1.1.3
idna==3.4; python_version >= "3.7" and python_version < "4"
importlib-metadata==5.0.0; python_version >= "3.7" and python_version < "3.8"
luddite==1.0.2
packaging==21.3; python_version >= "3.6"
pyparsing==3.1.1; python_full_version >= "3.6.8" and python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
setuptools-autover==1.0.2; python_version >= "3.5"
soupsieve==2.3.2.post1; python_version >= "3.6" and python_full_version >= "3.6.0"
tranco==0.6
typing-extensions==4.4.0; python_version >= "3.7" and python_version < "3.8"
unidecode==1.3.6; python_version >= "3.5"
urllib3==1.26.12; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
zipp==3.10.0; python_version >= "3.7" and python_version < "3.8"

setuptools>=65.5.0
requests>=2.28.1
colorlog>=6.7.0
